In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import streamlit as st

In [62]:
df_path = '/Users/mattiaropelato/python/streamlit_test/dataset/f1_23_09_22/'

constr_results = pd.read_csv(df_path + 'constructor_results.csv')
constr_standings = pd.read_csv(df_path + 'constructor_standings.csv') #
constructors = pd.read_csv(df_path + 'constructors.csv') #
driver_standings = pd.read_csv(df_path + 'driver_standings.csv') #
drivers = pd.read_csv(df_path + 'drivers.csv') #
lap_times = pd.read_csv(df_path + 'lap_times.csv')
pit_stops = pd.read_csv(df_path + 'pit_stops.csv')
qualifying = pd.read_csv(df_path + 'qualifying.csv') #
races = pd.read_csv(df_path + 'races.csv') #
results = pd.read_csv(df_path + 'results.csv') #
seasons = pd.read_csv(df_path + 'seasons.csv')
sprint_results = pd.read_csv(df_path + 'sprint_results.csv')
status = pd.read_csv(df_path + 'status.csv')

In [ ]:
top3circ = ['Monte-Carlo', 'Monza', 'Barcelona']
top5driv = ['max_verstappen', 'leclerc', 'hamilton', 'norris', 'russell']
top3driv = ['max_verstappen', 'leclerc', 'hamilton']

In [70]:
driver_df = drivers.loc[:, ['driverId', 'driverRef']].merge(driver_standings.loc[:, ['raceId', 'driverId', 'position', 'wins']])
driver_df#.groupby('driverRef').raceId.nunique().sort_values(ascending=False)

       driverId driverRef  raceId  position  wins
0             1  hamilton      18         1     1
1             1  hamilton      19         1     1
2             1  hamilton      20         3     1
3             1  hamilton      21         2     1
4             1  hamilton      22         3     1
...         ...       ...     ...       ...   ...
33681       855      zhou    1082        16     0
33682       855      zhou    1083        16     0
33683       855      zhou    1084        17     0
33684       855      zhou    1085        17     0
33685       855      zhou    1086        17     0

[33686 rows x 5 columns]

In [64]:
drivers.columns, driver_standings.columns

(Index(['driverId', 'driverRef', 'number', 'code', 'forename', 'surname', 'dob',
        'nationality', 'url'],
       dtype='object'),
 Index(['driverStandingsId', 'raceId', 'driverId', 'points', 'position',
        'positionText', 'wins'],
       dtype='object'))

In [65]:
driver_standings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33686 entries, 0 to 33685
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   driverStandingsId  33686 non-null  int64
 1   raceId             33686 non-null  int64
 2   driverId           33686 non-null  int64
 3   points             33686 non-null  float64
 4   position           33686 non-null  int64
 5   positionText       33686 non-null  object
 6   wins               33686 non-null  int64
dtypes: float64(1), int64(5), object(1)
memory usage: 1.8+ MB